<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KHANA REST API DOCUMENTATION</title>
</head>
<body>
    <h1>API DOCUMENTATION</h1>
    <ul>
        <li><a href="/khana_rest/food_items/">/khana_rest/food_items/</a> to see all food items available</li>
        <li><a href="/khana_rest/food_items/1">/khana_rest/food_items/1</a> to see the first food item</li>

        <li><a href="/khana_rest/orders/">/khana_rest/orders/</a> to see all orders available</li>
        <li><a href="/khana_rest/orders/1">/khana_rest/orders/1</a> to see the first order</li>

        <li><a href="/khana_rest/shops/">/khana_rest/shops/</a> to see all shops available</li>
        <li><a href="/khana_rest/shops/1">/khana_rest/shops/1</a> to see the first shop</li>

        <li><a href="/khana_rest/dates/">/khana_rest/dates/</a> to see all dates</li>
        <li><a href="/khana_rest/dates/1">/khana_rest/dates/1</a> to see the first date</li>

        <li><a href="/khana_rest/users/">/khana_rest/users/</a> to see all users</li>
        <li><a href="/khana_rest/users/1">/khana_rest/users/1</a> to see the user</li>

        <li><a href="/khana_rest/temp_users/">/khana_rest/temp_users/</a> to see all temporary users waiting for approval</li>
        <li><a href="/khana_rest/temp_users/1">/khana_rest/temp_users/1</a> to see the first temporary user</li>
    </ul>
</body>
</html>